.module {
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  animation-name: shine;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 100;
}

.module:global(.label-star) {
  right: -4rem;
  top: -3rem;
}
.module:global(.action-star) {
  left: -4rem;
  bottom: -2rem;
}
.module:global(.tima-left-acc-star) {
  top: 25%;
  left: 0;
}
.module:global(.tima-left-sec-star) {
  top: 3%;
  left: 20%;
}
.module:global(.tima-right-acc-star) {
  top: 0;
  right: 5%;
}
.module:global(.tima-right-sec-star) {
  top: 20%;
  right: 25%;
}
.module:global(.tima-bottom-acc-star) {
  right: 15%;
  bottom: -15%;
}
.module:global(.tima-bottom-sec-star) {
  right: 5%;
  bottom: -0%;
}

@keyframes shine {
  50% {
    transform: scale(0.5) rotate(180deg);
  }

  100% {
    transform: scale(1) rotate(360deg);
  }
}

@media screen and (max-width: 480px) {
  .module:global(.action-star) {
    left: -2rem;
    bottom: -2rem;
  }
}
