.module {
  width: calc(50% - var(--gap-three) / 2);
  display: flex;
  margin-block: auto;
}

.avatar {
  width: 100%;
  height: 656px;
  position: relative;
}
.avatar stop:first-child {
  stop-color: var(--start-ellipse);
  transition: stop-color 0.3s ease-in-out;
}
.avatar stop:last-child {
  stop-color: var(--end-ellipse);
  transition: stop-color 0.3s ease-in-out;
}

.avatar image {
  will-change: contents;
  visibility: hidden;
  opacity: 0;
}
.avatar.transition ellipse {
  animation: hole 0.5s cubic-bezier(0.56, 0.1, 0.93, 0.35) forwards;
}
.avatar.transition image {
  animation: avatar 0.6s cubic-bezier(0.71, 0.1, 0.09, 1.04) forwards;
  animation-delay: 0.4s;
}

@keyframes hole {
  0% {
    rx: 61.97px;
    ry: 0.9814px;
  }

  100% {
    rx: 321.97px;
    ry: 51.9814px;
  }
}
@keyframes avatar {
  0% {
    y: 650px;
  }
  1% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    y: 45px;
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 960px) {
  .module {
    width: 100%;
    min-height: calc(100vh - var(--gap-one) - var(--gap-three));
  }
  .avatar {
    margin-block: auto;
  }
}

@media only screen and (orientation: landscape) and (max-device-height: 599px) {
  .module {
    width: 75%;
  }
}
