.module {
  width: 50%;
  display: flex;
  flex: 0 1 calc(50% - var(--gap-three) / 2);
  position: relative;
  margin-inline: auto;
}

.avatar {
  width: 100%;
  height: 656px;
  position: relative;
}
