.service {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - var(--gap-column-section) / 2));
  grid-template-rows: 1fr;
  column-gap: var(--gap-column-section);
  row-gap: var(--gap-row-section);
  grid-auto-rows: min-content;
}

/* ORDERS */
.service:nth-child(even) .illustration,
.service:nth-child(odd) .service-content {
  grid-column: 2;
  grid-row: 1;
  justify-content: flex-end;
}
.service:nth-child(even) .service-content,
.service:nth-child(odd) .illustration {
  grid-column: 1;
  grid-row: 1;
}
/* - */

.service-content {
  height: min-content;
  display: grid;
  grid-template-columns: auto 1fr;
  align-self: center;
}

.service-title {
  grid-column: 1 / -1;
  font-size: 3em;
  text-transform: uppercase;
}
.service-button {
  height: fit-content;
  margin-block: auto;
}
.service-price {
  justify-self: flex-end;
  align-self: flex-end;
  display: flex;
  position: relative;
  align-items: center;
  column-gap: 0.5rem;
}
.service-price sub {
  margin-block-start: auto;
  color: var(--secondary-color);
  font-size: clamp(1.125em, 5vw, 1.5em);
  font-weight: bold;
}
.service-price span {
  position: relative;
  padding-inline-end: clamp(1.5rem, 4vw, 2.8rem);
  color: var(--accent-color);
  font-size: clamp(4em, 7vw, 6em);
  font-weight: bold;
  line-height: 0.75;
}
.service-price::after {
  content: '€';
  position: absolute;
  top: -25%;
  right: 0;
  color: var(--accent-color);
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: bold;
}
.service-price::after {
  content: '€';
  position: absolute;
  top: -25%;
  right: 0;
  color: var(--accent-color);
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: bold;
}
/* .illustration:hover .red-leaf,
.service:hover .illustration .red-leaf,
.section-content:hover ~ .illustration .red-leaf {
  fill: var(--ill-primary-65-hover);
}
.illustration:hover .red-stem,
.service:hover .illustration .red-stem,
.section-content:hover ~ .illustration .red-stem {
  fill: var(--ill-primary-50-hover);
} */

@media screen and (max-width: 960px) {
  .service {
    grid-template-columns: 100%;
    row-gap: var(--gap-three);
  }
  .service:nth-child(even) .illustration,
  .service:nth-child(odd) .illustration {
    grid-column: 1;
    grid-row: 1;
    justify-content: center;
  }
  .service:nth-child(even) .service-content,
  .service:nth-child(odd) .service-content {
    grid-column: 1;
    grid-row: 2;
    justify-content: center;
  }
}
