.service {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - var(--gap-three) / 2));
  grid-template-rows: 1fr;
  column-gap: var(--gap-three);
  grid-auto-rows: min-content;
  row-gap: 8rem;
}

/* ORDERS */
.service:nth-child(even) .illustration,
.service:nth-child(odd) .service-content {
  grid-column: 2;
  grid-row: 1;
  justify-content: flex-end;
}
.service:nth-child(even) .service-content,
.service:nth-child(odd) .illustration {
  grid-column: 1;
  grid-row: 1;
}
/* - */

.service-content {
  height: min-content;
  display: grid;
  grid-template-columns: auto 1fr;
  align-self: center;
}

.service-title {
  grid-column: 1 / -1;
  font-size: 3em;
  text-transform: uppercase;
}
.service-button {
  height: fit-content;
  margin-block: auto;
}
.service-price {
  justify-self: flex-end;
  align-self: flex-end;
  display: flex;
  position: relative;
  align-items: center;
  column-gap: 0.5rem;
}
.service-price sub {
  margin-block-start: auto;
  color: var(--secondary-color);
  font-size: clamp(1.125em, 5vw, 1.5em);
  font-weight: bold;
}
.service-price span {
  position: relative;
  padding-inline-end: clamp(1.5rem, 4vw, 2.8rem);
  color: var(--accent-color);
  font-size: clamp(4em, 7vw, 6em);
  font-weight: bold;
  line-height: 0.75;
}
.service-price::after {
  content: '€';
  position: absolute;
  top: -25%;
  right: 0;
  color: var(--accent-color);
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: bold;
}
.service-price::after {
  content: '€';
  position: absolute;
  top: -25%;
  right: 0;
  color: var(--accent-color);
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: bold;
}

@media screen and (max-width: 960px) {
  .service {
    grid-template-columns: 100%;
    row-gap: var(--gap-three);
  }
  .service:nth-child(even) .illustration,
  .service:nth-child(odd) .illustration {
    grid-column: 1;
    grid-row: 1;
    justify-content: center;
  }
  .service:nth-child(even) .service-content,
  .service:nth-child(odd) .service-content {
    grid-column: 1;
    grid-row: 2;
    justify-content: center;
  }
}
/* ILLUSTRATION PROPERTIES */
.illustration {
  --ill-primary-80: hsl(327, 80%, 80%);
  --ill-primary-75: hsl(327, 80%, 75%);
  --ill-primary-70: hsl(327, 79%, 70%);
  --ill-primary-65: hsl(337, 79%, 65%);
  --ill-primary-60: hsl(337, 79%, 60%);
  --ill-primary-50: hsl(337, 50%, 50%);
  --ill-primary-40: hsl(337, 50%, 40%);

  --ill-secondary-80: hsl(263, 85%, 80%);
  --ill-secondary-75: hsl(263, 85%, 75%);
  --ill-secondary-70: hsl(263, 85%, 70%);
  --ill-secondary-65: hsl(263, 85%, 65%);
  --ill-secondary-60: hsl(263, 85%, 60%);

  /* --ill-soil: hsl(263, 85%, 90%); */
  --ill-soil: hsl(31, 94%, 87%);
  --ill-white-element: hsl(0, 0%, 100%);
  --ill-dark-element: hsl(199, 33%, 17%);
  /* --ill-main-elements-2: #1c3035;
  --ill-main-elements-3: #1d313a; */

  --ill-detail-1: hsl(199, 10%, 95%);
  --ill-detail-2: hsl(199, 10%, 80%);
  --ill-detail-3: hsl(199, 10%, 50%);
  --ill-detail-4: hsl(199, 10%, 30%);
  --ill-detail-5: hsl(199, 10%, 15%);
  --ill-detail-6: hsl(199, 10%, 10%);

  --ill-body-black-skin: #8b6b6b;
  --ill-body-light-skin: #f7bba4;
  --ill-hair-color: #404551;
}

.primary-40 {
  fill: var(--ill-primary-40);
}
.primary-50 {
  fill: var(--ill-primary-50);
}
.primary-60 {
  fill: var(--ill-primary-70);
}
.primary-65 {
  fill: var(--ill-primary-65);
}
.primary-70 {
  fill: var(--ill-primary-70);
}
.primary-75 {
  fill: var(--ill-primary-70);
}
.primary-80 {
  fill: var(--ill-primary-70);
}

.secondary-60 {
  fill: var(--ill-secondary-60);
}
.secondary-65 {
  fill: var(--ill-secondary-65);
}
.secondary-70 {
  fill: var(--ill-secondary-70);
}
.secondary-75 {
  fill: var(--ill-secondary-75);
}
.secondary-80 {
  fill: var(--ill-secondary-80);
}

.soil {
  fill: var(--ill-soil);
}
.white-element {
  fill: var(--ill-white-element);
}
.dark-element {
  fill: var(--ill-dark-element);
}

.detail-1 {
  fill: var(--ill-detail-1);
}
.detail-2 {
  fill: var(--ill-detail-2);
}
.detail-3 {
  fill: var(--ill-detail-3);
}
.detail-4 {
  fill: var(--ill-detail-4);
}
.detail-5 {
  fill: var(--ill-detail-5);
}

/* AERIAL FILMING PROPERTIES */
.aerial-filming-shadow {
  fill: url(#aerial-filming-shadow);
}

.shadow stop:first-child {
  stop-color: hsl(30, 35%, 45%);
}
.shadow stop:last-child {
  stop-color: hsl(30, 45%, 65%);
}

/*  ADVERTISING PROPERTIES */
.advertising-main-shadow {
  fill: url(#advertising-main-shadow);
}
.advertising-human1-shadow {
  fill: url(#advertising-human1-shadow);
}
.advertising-human2-shadow {
  fill: url(#advertising-human2-shadow);
}
.body-black-skin {
  fill: var(--ill-body-black-skin);
}
.body-light-skin {
  fill: var(--ill-body-light-skin);
}
.hair-color {
  fill: var(--ill-hair-color);
}

/* PHOTOGRAPHY PROPERTIES */
.photography-shadow {
  fill: url(#photography-shadow);
}
.photography-flash {
  fill: hsl(var(--red));
}

/* 3D GRAPHICS PROPERTIES */
.graphics3d-shadow {
  fill: url(#graphics3d-shadow);
}
.depth-gradient-3 {
  fill: url(#depth-gradient-3);
}
.depth-gradient-D {
  fill: url(#depth-gradient-D);
}
/* VIDEO PRODUCTION PROPERTIES */
.video-production-shadow {
  fill: url(#video-production-shadow);
}
.white-stroke-element {
  stroke: var(--ill-white-element);
  stroke-width: 2px;
}
.primary-stroke-65 {
  stroke: var(--ill-primary-65);
}
.detail-stroke-4 {
  stroke: var(--ill-detail-4);
}
.primary-stroke-65,
.detail-stroke-4 {
  stroke-width: 10px;
}
.white-stroke-element,
.primary-stroke-65,
.detail-stroke-4 {
  fill: none;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
