.slider-article {
  min-width: 100%;
  display: flex;
  flex-flow: column;
  opacity: 0;
  transform: scale(0.1);
  transition: all var(--optimal) cubic-bezier(0.77, 0.15, 0.28, 1.07);
}
.slider-article.active {
  opacity: 1;
  transform: scale(1);
}

.slider-article__title {
  color: var(--secondary-color);
  font-size: clamp(1.5rem, 3vw, 3rem);
  transition: all var(--optimal) ease-in-out;
}

.slider-center {
  align-items: center;
}
.slider-article__user {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem 1rem;
}
.slider-article__user > .teammate-avatar {
  grid-row: 1 / -1;
}
.slider-article__user > .slider-article__title {
  font-size: clamp(1.3em, 5vw, 2em);
  align-self: end;
}
.slider-article__proff {
  grid-column: 2;
  font-size: clamp(1em, 5vw, 1.5em);
  font-style: italic;
}

@media screen and (max-width: 960px) {
  .slider-article {
    order: 2;
  }
}
