.how-we-work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--gap-three);
  row-gap: 8rem;
}

.illustration-right {
  grid-column: 2;
}

@media screen and (max-width: 960px) {
  .how-we-work {
    grid-template-columns: 1fr;
    row-gap: var(--gap-three);
  }
  .illustration-right {
    grid-column: 1;
    order: 1;
  }
}

@import url('./content-side/content-side.css');
