.module {
  /* height: max(600px, calc(100vh - var(--gap-one) - var(--gap-three))); */
  min-height: 1000px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: var(--gap-three);
}

@media screen and (max-width: 960px) {
  .module {
    min-height: calc(200vh - var(--gap-one) - var(--gap-three));
    flex-flow: column;
  }
}

@media only screen and (orientation: landscape) and (max-device-height: 780px) {
  .module {
    row-gap: 10rem;
  }
}
