.limited-area {
  overflow: hidden;
}
.hww-articles {
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
  transition: transform var(--optimal) cubic-bezier(0.77, 0.15, 0.28, 1.07);
}
.hww-article {
  min-width: 100%;
  display: flex;
  flex-flow: column;
  opacity: 0;
  transform: scale(0.1);
  transition: all var(--optimal) cubic-bezier(0.77, 0.15, 0.28, 1.07);
}
.hww-article.active {
  opacity: 1;
  transform: scale(1);
}

.hww-article__title {
  color: var(--secondary-color);
  font-size: clamp(1.5rem, 5vw, 3rem);
  transition: all var(--optimal) ease-in-out;
}

@media screen and (max-width: 960px) {
  .hww-article {
    order: 2;
  }
}
