.service-teammates {
  display: flex;
  position: relative;
  overflow-x: hidden;
  transform: rotate3d(0, 1, 0, 180deg) translate3d(0, 0, 150px);
  transform-origin: center;
  z-index: 5;
}
.teammate-group {
  display: grid;
  position: relative;
  grid-auto-flow: column;
  column-gap: var(--gap-one);
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 1rem;
  transition: all 0.7s linear;
  z-index: 5;
}

.service-teammate {
  height: 350px;
  min-width: clamp(300px, 55vw, 380px);
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  background-color: hsla(var(--accent-shade) / 0.3);
}
.service-teammate:first-child {
  margin-inline-start: 1rem;
}
.service-teammate:last-child {
  margin-inline-end: 1rem;
}

/*Close teammates group*/
.teammates__close-button {
  position: absolute;
  top: var(--gap-one);
  right: var(--gap-one);
  z-index: 100;
}
.teammates__close-button::after,
.teammates__close-button::before {
  content: '';
  width: 1rem;
  height: 3px;
  position: absolute;
  inset: 16px 10px;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
}
.teammates__close-button::before {
  transform: rotate(45deg);
}
.teammates__close-button::after {
  transform: rotate(-45deg);
}
