.service-teammates {
  display: flex;
  overflow-x: hidden;
  padding-block-end: 1rem;
  transform: rotate3d(0, 1, 0, 180deg) translate3d(0, 0, 150px);
  transform-origin: center;
  z-index: 5;
}

.teammate-group {
  display: grid;
  position: relative;
  grid-auto-flow: column;
  column-gap: 3rem;
  overflow-x: auto;
  overflow-y: hidden;
  padding-block-end: 1.5rem;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 1rem;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) hsla(var(--secondary-shade) / 0.1);
  z-index: 5;
}
/* scroll properties */
.teammate-group::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
.teammate-group::-webkit-scrollbar-track {
  background-color: hsla(var(--secondary-shade) / 0.1);
}
.teammate-group::-webkit-scrollbar-thumb {
  border-radius: 0.815rem;
  background-color: var(--accent-color);
}

.service-teammate {
  min-width: 300px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1.5rem;
  border-radius: 1rem;
  scroll-snap-align: start;
  overflow: hidden;
  box-shadow: 0.75rem 0.75rem 0 hsla(var(--accent-shade) / 0.1),
    0.75rem 0.75rem 1.5rem hsla(var(--accent-shade) / 0.1);
}
.service-teammate:first-child {
  margin-inline-start: 3rem;
}
.service-teammate:last-child {
  margin-inline-end: 3rem;
}

.teammate-avatar {
  width: 6rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  position: relative;
  margin-block: 1rem;
}
.teammate-avatar span {
  border-radius: 50%;
}

.teammate-name {
  font-size: 1.5em;
  text-align: center;
}
.teammate-proff {
  padding-block: 0.3rem 1.5rem;
  color: hsla(var(--secondary-shade) / 0.8);
  font-size: 1em;
  font-weight: 400;
  text-align: center;
}
.teammate-desc {
  font-size: 1.125em;
  line-height: 1.3;
}

/*Close teammates group*/
.teammates__close-button {
  position: absolute;
  top: var(--gap-one);
  right: var(--gap-one);
  z-index: 100;
}
.teammates__close-button::after,
.teammates__close-button::before {
  content: '';
  width: 1rem;
  height: 3px;
  position: absolute;
  inset: 16px 10px;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
}
.teammates__close-button::before {
  transform: rotate(45deg);
}
.teammates__close-button::after {
  transform: rotate(-45deg);
}
