.service-teammates {
  display: flex;
  padding-block-end: 1rem;
  position: relative;
  overflow-x: hidden;
  transform: rotate3d(0, 1, 0, 180deg) translate3d(0, 0, 150px);
  transform-origin: center;
  z-index: 6;
}

.teammate-group {
  display: grid;
  position: relative;
  grid-auto-flow: column;
  column-gap: 3rem;
  padding-block: 1.5rem;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 1rem;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) hsla(var(--secondary-shade) / 0.1);
}
/* scroll properties */
.teammate-group::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
.teammate-group::-webkit-scrollbar-track {
  background-color: hsla(var(--secondary-shade) / 0.1);
}
.teammate-group::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 0.815rem;
}

.service-teammate {
  width: 300px;
  aspect-ratio: 1 / 1.4;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0 hsla(var(--accent-shade) / 0.1),
    0.5rem 0.5rem 1.5rem hsla(var(--accent-shade) / 0.1);
  scroll-snap-align: start;
}
.service-teammate:first-child {
  margin-inline-start: 1rem;
}
.service-teammate:last-child {
  margin-inline-end: 4rem;
}

.teammate-recruit {
  padding: 0.5rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  background-color: hsla(var(--accent-shade) / 0.3);
  border-radius: 8px;
  color: var(--secondary-color);
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
}

.teammate-avatar {
  width: 7rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  position: relative;
  margin-block: 1rem;
}
.teammate-avatar img {
  border-radius: inherit;
}
.teammate-avatar span {
  border-radius: 50%;
}

.teammate-name {
  font-size: 1.5em;
  text-align: center;
}
.teammate-proff {
  padding-block: 0.3rem 1.5rem;
  color: hsla(var(--secondary-shade) / 0.8);
  font-size: 1em;
  font-weight: 400;
  text-align: center;
}
.teammate-desc {
  font-size: 1.125em;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  hyphens: manual;
}

/*Close teammates group*/
.teammates__close-button {
  position: absolute;
  top: 0;
  right: 0.5rem;
  z-index: 100;
}
.teammates__close-button::after,
.teammates__close-button::before {
  content: '';
  width: 1rem;
  height: 3px;
  position: absolute;
  inset: 16px 10px;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
}
.teammates__close-button::before {
  transform: rotate(45deg);
}
.teammates__close-button::after {
  transform: rotate(-45deg);
}
