.hww-articles-wrap {
  width: 500%;
  display: flex;
  transition: transform var(--optimal) cubic-bezier(0.77, 0.15, 0.28, 1.07);
}
.hww-article {
  width: 100%;
  display: flex;
  flex-flow: column;
  opacity: 0;
  transform: scale(0.1);
  transition: all var(--optimal) cubic-bezier(0.77, 0.15, 0.28, 1.07);
}
.hww-article.active {
  opacity: 1;
  transform: scale(1);
}

.hww-article__title {
  font-size: 3rem;
}

@media screen and (max-width: 960px) {
  .hww-article {
    grid-column: 1;
    order: 2;
  }
}
