.module {
  --size: 2.5rem;
  width: var(--size);
  aspect-ratio: 1 / 1;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background-color: hsl(var(--red));
  box-shadow: 0.5rem 0.5rem 0 hsla(var(--switch-button-bg) / 0.1),
    0.5rem 0.5rem 1.5rem hsla(var(--switch-button-bg) / 0.1);
  transition: all var(--optimal) ease-in-out;
}

html[data-theme='light'] .module {
  background-color: hsl(var(--green));
  box-shadow: 0.5rem 0.5rem 0 hsla(var(--switch-button-bg) / 0.1),
    0.5rem 0.5rem 1.5rem hsla(var(--switch-button-bg) / 0.1);
}
.module:active {
  box-shadow: 0.25rem 0.25rem 0 hsla(var(--switch-button-bg) / 0.3),
    0.25rem 0.25rem 1rem hsla(var(--switch-button-bg) / 0.3);
}

.icon {
  width: calc(var(--size) - 1rem);
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 54%;
  left: 48%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.line_one,
.line_two {
  fill: none;
  stroke: hsl(var(--light));
  stroke-width: 3;
  stroke-miterlimit: 10;
}
.line_one {
  stroke-linecap: round;
  stroke-dasharray: 10;
  stroke-dashoffset: -16;
  transition: all var(--optimal) linear;
  transition-delay: 0.5s;
}
.line_two {
  transition: all 0.5s linear;
  stroke-dasharray: 92;
  stroke-dashoffset: 225;
}
html[data-theme='light'] .line_one {
  stroke-dashoffset: -10;
  transition-delay: 0.1s;
}
html[data-theme='light'] .line_two {
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 92;
  stroke-dashoffset: 125;
}
