.section-content__actions {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--gap-one);
  row-gap: var(--gap-three);
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.step-dots,
.step-numbers {
  display: flex;
  align-items: center;
  column-gap: var(--gap-one);
}
.step-dots {
  display: flex;
  justify-content: center;
  flex: 1 0 100%;
}
.step-numbers {
  position: absolute;
  top: clamp(0, 5vw, 1rem);
  right: 0;
  width: 2.5rem;
  justify-content: flex-end;
}

.step-dot {
  --dot-diametr: 1rem;
  --dor-radius: var(--dot-diametr) / 2;
  --dot-diametr-active: calc(var(--dot-diametr) + 0.75rem);
  width: var(--dot-diametr);
  aspect-ratio: 1 / 1;
  position: relative;
  background-color: hsla(var(--accent-shade) / 0.3);
  border-radius: 50%;
}
.step-dot::after {
  content: '';
  width: var(--dot-diametr-active);
  aspect-ratio: 1 / 1;
  position: absolute;
  top: calc(-1 * var(--dot-diametr-active) / 2 + var(--dor-radius));
  left: calc(-1 * var(--dot-diametr-active) / 2 + var(--dor-radius));
  background-color: var(--accent-color);
  opacity: 0;
  border-radius: 50%;
  transition: all var(--optimal) cubic-bezier(0, 1.04, 0.57, 1.18);
  transform: scale(0);
}
.step-dot.active::after {
  opacity: 1;
  transform: scale(1);
}

@media screen and (max-width: 1280px) {
  .step-dots {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .step-dots {
    display: flex;
  }
}
@media screen and (max-width: 560px) {
  .step-dot {
    --dot-diametr: 0.5rem;
  }

  .step-numbers {
    display: flex;
  }
}
