.service {
  display: grid;
  grid-template-columns:
    calc(50% - (var(--gap-column-section)) / 2)
    calc(50% - (var(--gap-column-section)) / 2);
  grid-template-rows: 1fr;
  column-gap: var(--gap-column-section);
  row-gap: var(--gap-row-section);
  grid-auto-rows: min-content;
}

/* ORDERS */
.service-content {
  display: grid;
  position: relative;
  perspective: 5000px;
  transform-style: preserve-3d;
  perspective-origin: center;
  transition: all 0.5s linear;
  align-items: center;
}

.service:nth-child(even) .illustration,
.service:nth-child(odd) .service-content {
  grid-column: 2;
  grid-row: 1;
  justify-content: flex-end;
  padding-inline: 0 var(--body-padding);
}
.service:nth-child(even) .service-content,
.service:nth-child(odd) .illustration {
  grid-column: 1;
  grid-row: 1;
  padding-inline: var(--body-padding) 0;
}
/* - */
.service-teammates,
.service-article,
.background-article {
  grid-column: 1;
  grid-row: 1;
  transition: all 0.7s linear;
}

.background-article {
  height: calc(100% + 3rem);
  width: calc(100% + 3rem);
  /* position: relative; */
  /* position: absolute; */
  /* inset: -1.5rem; */
  /* top: -1.5rem; */
  /* left: -1.5rem; */
  /* right: -1.5rem;
  bottom: -1.5rem; */
  /* opacity: 1; */
  /* overflow: hidden; */
  /* border: 2px solid transparent; */
  /* transform: rotate3d(0, 1, 0, 0) translate3d(0, 0, 0); */
  transform: rotateY(0);
  /* backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */
  border-radius: 0.5rem;
  /* pointer-events: none; */
  user-select: none;
  /* z-index: 1; */
}
/* .background-article::after {
  --position-bg-article: 1200px;
  content: '';
  width: 200%;
  height: 1rem;
  position: absolute;
  top: 0;
  left: -95%;
  background-color: hsla(var(--class-highlight) / 0.5);
  transform: rotate(-45deg) translate3d(0, 0, 0);
  transition: all 0.7s linear;
  filter: blur(3rem);
  z-index: -1;
} */

.service-content.show-teammates .rect-button {
  box-shadow: none;
}
.service-content.show-teammates .service-article {
  transform: rotate3d(0, 1, 0, 180deg) translate3d(0, 0, 150px);
  pointer-events: none;
  user-select: none;
}
.service-content.show-teammates .background-article {
  animation: backdrop-foward 0.7s linear forwards;
  transform: rotateY(180deg);
  /* transform: rotate3d(0, 1, 0, 180deg) translate3d(0, 0, 0); */
}
.service-content.hide-teammates .background-article {
  animation: backdrop-backward 0.7s linear forwards;
}
.service-content.show-teammates .background-article::after {
  transform: rotate(-45deg) translate3d(0, var(--position-bg-article), 0);
}
.service-content.show-teammates .service-teammates {
  transform: rotate3d(0, 1, 0, 360deg) translate3d(0, 0, 0);
}

@keyframes backdrop-foward {
  0% {
    background-color: hsl(var(--primary-shade) / 1);
  }
  50% {
    background-color: hsl(var(--accent-shade) / 0.05);
    border: 2px solid hsla(var(--accent-shade) / 0.4);
    box-shadow: inset 0 0 1rem hsla(var(--light) / 0.2);
  }
  100% {
    background-color: hsl(var(--primary-shade) / 1);
  }
}
@keyframes backdrop-backward {
  0% {
    background-color: hsl(var(--primary-shade) / 1);
  }
  50% {
    background-color: hsl(var(--accent-shade) / 0.05);
    border: 2px solid hsla(var(--accent-shade) / 0.4);
    box-shadow: inset 0 0 1rem hsla(var(--light) / 0.2);
  }
  100% {
    background-color: hsl(var(--primary-shade) / 1);
  }
}

@media screen and (max-width: 960px) {
  .service {
    grid-template-columns: 100%;
    row-gap: var(--gap-three);
  }
  .service:nth-child(even) .illustration,
  .service:nth-child(odd) .illustration {
    grid-column: 1;
    grid-row: 1;
    justify-content: center;
    padding-inline: 0;
  }
  .service:nth-child(even) .service-content,
  .service:nth-child(odd) .service-content {
    grid-column: 1;
    grid-row: 2;
    padding-inline: 0;
  }
  .service .illustration {
    padding-inline-start: 0;
  }
  .service .service-content:is(.show-teammates) {
    width: 100%;
  }

  .background-article {
    height: calc(100% + 3rem);
    width: calc(100% + 1rem);
    /* inset: -1.5rem -1rem; */
    top: -1.5rem;
    left: -1rem;
  }
}
@media screen and (max-width: 480px) {
  /* .background-article::after {
    top: 150px;
    --position-bg-article: 700px;
  } */
}

@import url('./service-article/service-article.css');
@import url('./service-teammates/teammates.css');
