.module {
  width: calc(50% - var(--gap-three) / 2);
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-auto-rows: min-content;
}
:where(.label, .title, .desc) {
  grid-column: 1;
}
.label {
  width: fit-content;
  position: relative;
  color: var(--secondary-color);
  font-size: clamp(1.2rem, 2vw, 1.8rem);
  transition: color 0.3s ease-in-out;
}
.title {
  width: fit-content;
  display: flex;
  flex-flow: column;
  padding-block: 1rem 2.5rem;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 1.1;
}
.title span {
  width: fit-content;
  position: relative;
  font-size: clamp(3rem, 5vw, 6rem);
  color: var(--secondary-color);
  transition: color 0.3s ease-in-out;
}
.title strong {
  color: var(--accent-color);
  transition: color 0.3s ease-in-out;
}

.underline {
  width: 250px;
  display: flex;
  position: absolute;
  bottom: -1rem;
}
.underline svg {
  width: inherit;
}
.underline path,
.arrow path {
  fill: var(--accent-color);
  transition: fill 0.3s ease-in-out;
}

.actions {
  grid-column: 1 / -1;
  width: fit-content;
  display: flex;
  align-items: center;
  column-gap: 2rem;
  margin-inline: auto;
  position: relative;
  padding-block-start: 3rem;
  font-size: 1.125rem;
  font-weight: bold;
}
.arrow {
  position: absolute;
  bottom: -5rem;
  right: -2rem;
}
@media screen and (max-width: 960px) {
  .module {
    width: 100%;
    align-content: center;
    min-height: calc(100vh - var(--gap-one) - var(--gap-three));
  }
  .title span {
    font-size: clamp(2.2rem, 10vw, 6rem);
  }
  .underline {
    width: clamp(150px, 50vw, 250px);
  }
}
