.module {
  display: flex;
  flex-flow: column;
  flex: 1 0 calc(50% - var(--gap-three) / 2);
}
.label {
  width: fit-content;
  position: relative;
  color: var(--secondary-color);
  font-size: 1.8rem;
  transition: color 0.2s ease-in-out;
}
.title {
  display: flex;
  flex-flow: column;
  padding-block: 1rem 3rem;
  text-transform: uppercase;
  white-space: nowrap;
}
.title span {
  width: fit-content;
  font-size: 4.5rem;
  color: var(--secondary-color);
  transition: color 0.2s ease-in-out;
}
.title span:last-child {
  position: relative;
  color: var(--accent-color);
}
.underline {
  display: flex;
  position: absolute;
  bottom: -1rem;
  width: 100%;
}
.underline svg {
  width: inherit;
}
.underline path {
  fill: var(--accent-color);
  transition: fill 0.2s ease-in-out;
}
.actions {
  width: fit-content;
  display: flex;
  align-items: center;
  column-gap: 2rem;
  margin-inline: auto;
  position: relative;
  padding-block-start: 3rem;
  font-size: 1.125rem;
  font-weight: bold;
}
