.module {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  position: relative;
}
.logo {
  margin-inline-end: auto;
}

.module :global(.node) {
  /* opacity: 0; */
  text-transform: uppercase;
  /* transition: all 3s ease-in-out; */
  /* display: none; */
}

.module :global(.node-enter) {
  display: flex;
  opacity: 0;
}
.module :global(.node-enter-active) {
  opacity: 1;
  transition: opacity 200ms;
}
.module :global(.node-enter-done) {
  opacity: 1;
}

.module :global(.node-exit) {
  opacity: 0;
}
.module :global(.node-exit-active) {
  opacity: 0;
  transition: opacity 200ms;
}
.module :global(.node-exit-done) {
  display: none;
}
