.hero-right {
  width: calc(50% - var(--gap-three) / 2);
  display: grid;
  grid-template-columns: 1fr;
  margin-block: auto;
  position: relative;
}

.hero-right__avatar {
  display: flex;
  grid-column: 1;
  grid-row: 1;
  width: 80%;
  margin-inline: auto;
  /* height: 756px; 656px */
  position: relative;
  z-index: 1;
}
.hero-right__gradient:first-child {
  stop-color: var(--start-ellipse);
  transition: stop-color 0.3s ease-in-out;
}
.hero-right__gradient:last-child {
  stop-color: var(--end-ellipse);
  transition: stop-color 0.3s ease-in-out;
}

.hero-right__image {
  opacity: 0;
  visibility: hidden;
  will-change: contents;
  transition: all 0.3s ease-in-out;
}

.hero-right__avatar.transition :is(.hero-right__hole, .hero-right__image) {
  animation: none;
}

.hero-right__avatar .hero-right__hole {
  animation: hole 0.7s cubic-bezier(0.21, 0.25, 0, 1.08) forwards;
  animation-delay: 0.4s;
}
.hero-right__avatar .hero-right__image {
  animation: avatar 0.5s cubic-bezier(0.72, 0.27, 0.38, 0.98) forwards;
  animation-delay: 0.7s;
}
.hero-right__avatar.reverse .hero-right__image {
  animation: avatar-reverse 0.5s cubic-bezier(0.72, 0.27, 0.38, 0.98) forwards;
  animation-delay: 0s;
}
.hero-right__avatar.reverse .hero-right__hole {
  rx: 321.97px;
  ry: 51.9814px;
  animation: hole-reverse 0.7s cubic-bezier(0.21, 0.25, 0, 1.08) forwards;
  animation-delay: 0.4s;
}

@keyframes hole {
  0% {
    rx: 61.97px;
    ry: 0px;
  }

  100% {
    rx: 321.97px;
    ry: 51.9814px;
  }
}
@keyframes hole-reverse {
  0% {
    rx: 321.97px;
    ry: 51.9814px;
  }
  100% {
    rx: 61.97px;
    ry: 0px;
  }
}

@keyframes avatar {
  0% {
    y: 550px;
  }
  1% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    y: 0px;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes avatar-reverse {
  0% {
    y: 0px;
    opacity: 1;
    visibility: visible;
  }
  99% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    y: 700px;
  }
}

.hero-right__messages {
  grid-column: 1;
  grid-row: 1;
  align-self: flex-end;
  justify-self: flex-end;
  display: flex;
  flex-flow: column;
  row-gap: 1.5rem;
  z-index: 10;
}

.hero-right__hire_us {
  margin-block-start: 1rem;
  opacity: 1;
}

.hero-right__hire_us svg {
  height: 1.5rem;
}

/* useOBSERVER */
.hero-right__messages.transition .hero-right__hire_us {
  transform: translate(-2rem, 0);
  opacity: 0;
}
.hero-right__messages.delay .hero-right__hire_us {
  transition-delay: 1.6s;
  pointer-events: none;
}

@media screen and (max-width: 960px) {
  .hero-right {
    width: 100%;
    /* min-height: calc(100vh - var(--gap-one) - var(--gap-three)); */
  }
  .hero-right__avatar {
    width: 100%;
    height: 556px;
  }
  .hero-right__messages {
    align-self: flex-end;
    row-gap: 1rem;
  }
  @keyframes avatar {
    0% {
      y: 650px;
    }
    1% {
      visibility: visible;
      opacity: 1;
    }
    100% {
      y: 0px;
      opacity: 1;
      visibility: visible;
    }
  }
}

@media only screen and (orientation: landscape) and (max-device-height: 599px) {
  .hero-right {
    width: 75%;
  }
}

@import url('./hero-right/messages.css');
