.hero-right {
  width: calc(50% - var(--gap-three) / 2);
  display: flex;
  margin-block: auto;
  position: relative;
}

.hero-right__avatar {
  width: 100%;
  height: 756px; /* 656px */
  position: relative;
}
.hero-right__gradient:first-child {
  stop-color: var(--start-ellipse);
  transition: stop-color 0.3s ease-in-out;
}
.hero-right__gradient:last-child {
  stop-color: var(--end-ellipse);
  transition: stop-color 0.3s ease-in-out;
}

.hero-right__image {
  will-change: contents;
  visibility: hidden;
  opacity: 0;
}
.hero-right__avatar.transition .hero-right__hole {
  animation: hole 0.7s cubic-bezier(0.21, 0.25, 0, 1.08) forwards;
  animation-delay: 0.4s;
}
.hero-right__avatar.transition .hero-right__image {
  animation: avatar 0.5s cubic-bezier(0.72, 0.27, 0.38, 0.98) forwards;
  animation-delay: 0.7s;
}

@keyframes hole {
  0% {
    rx: 61.97px;
    ry: 0.9814px;
  }

  100% {
    rx: 321.97px;
    ry: 51.9814px;
  }
}
@keyframes avatar {
  0% {
    y: 650px;
  }
  1% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    y: 45px;
    opacity: 1;
    visibility: visible;
  }
}

.hero-right__messages {
  display: flex;
  flex-flow: column;
  row-gap: 1.5rem;
  position: absolute;
  bottom: 13%;
  left: 0;
  z-index: 10;
}
.hero-right__hire_us {
  margin-block-start: 1rem;
  opacity: 0;
}
.hero-right__hire_us svg {
  height: 1.5rem;
}

.hero-right__messages.transition .hero-right__hire_us {
  animation: show-button 0.5s cubic-bezier(0.76, -0.01, 0.35, 1.12) forwards;
  animation-delay: 1.6s;
}

@keyframes show-button {
  from {
    transform: translateX(-2rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 960px) {
  .hero-right {
    width: 100%;
    /* min-height: calc(100vh - var(--gap-one) - var(--gap-three)); */
  }
  .hero-right__avatar {
    height: 556px;
    margin-block: auto;
  }
  .hero-right__messages {
    bottom: 0;
    row-gap: 1rem;
  }
  @keyframes avatar {
    0% {
      y: 650px;
    }
    1% {
      visibility: visible;
      opacity: 1;
    }
    100% {
      y: 0px;
      opacity: 1;
      visibility: visible;
    }
  }
}

@media only screen and (orientation: landscape) and (max-device-height: 599px) {
  .hero-right {
    width: 75%;
  }
}

@import url('./hero-right/messages.css');
