.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: var(--gap-one);
  padding-block-start: var(--gap-one);
  position: relative;
}
@import url('./desktop-links.css');
