.hero-left__message {
  width: fit-content;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.6rem 5.5rem 0.6rem 1rem;
  position: relative;
  opacity: 1;
  background-color: var(--card-color);
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0 hsla(var(--accent-shade) / 0.1),
    0.5rem 0.5rem 1rem hsla(var(--accent-shade) / 0.1);
  transition: all 0.3s ease-in-out;
  user-select: none;
}
.hero-left__message p,
.hero-left__message time {
  color: var(--secondary-color);
  transition: color 0.3s ease-in-out;
}
.hero-left__message p {
  padding-block: 0.1rem;
  font-size: 1rem;
  font-weight: bold;
  flex-shrink: 1;
}
.hero-left__message-smile {
  width: 1.4rem;
  aspect-ratio: 1 / 1;
  position: relative;
  top: -1px;
  background-image: url('/images/Smiling-Face.webp');
  background-size: cover;
}
.hero-left__message time,
.hero-left__message svg {
  position: absolute;
  bottom: 0.6rem;
}

.hero-left__message time {
  right: 2.3rem;
  font-size: 1rem;
  flex-grow: 1;
}
.hero-left__message svg {
  right: 0.6rem;
  width: 1.225rem;
  aspect-ratio: 1 / 1;
  flex-grow: 1;
  fill: var(--secondary-color);
  transition: fill 0.3s ease-in-out;
}

.hero-right__messages.transition .hero-left__message {
  transform: translate(-2rem, 0);
  opacity: 0;
}
.hero-right__messages .hero-left__message:nth-child(1) {
  transition-delay: 1s;
}
.hero-right__messages .hero-left__message:nth-child(2) {
  transition-delay: 1.2s;
}
.hero-right__messages .hero-left__message:nth-child(3) {
  transition-delay: 1.4s;
}
