.module {
  --size: 3rem;
  width: var(--size);
  aspect-ratio: 1 / 1;
  position: relative;
  /* overflow: hidden; */
  border-radius: 50%;
  background-color: var(--primary-color);
  border: 2px solid var(--accent-color);
  box-shadow: 10px 10px 0 hsla(var(--accent-shadow) / 0.1),
    15px 15px 30px hsla(var(--accent-shadow) / 0.1);
  color: var(--secondary-color);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
/* .background {
  width: var(--size);
  aspect-ratio: 1 / 1;
  position: absolute;
  bottom: -2rem;
  right: -2rem;
  background-color: hsl(var(--green));
  border-radius: 50%;
  transition: all 0.5s linear;
  transform: scale(0);
  z-index: 1;
  opacity: 0;
}
html[data-theme='light'] .background {
  transform: scale(5);
  opacity: 1;
  transition: all 0.5s linear;
} */
.module:active {
  transform: scale(0.9);
  box-shadow: 5px 5px 0 hsla(var(--accent-shadow) / 0.2),
    10px 10px 20px hsla(var(--accent-shadow) / 0.2);
}

/* .icon {
  width: calc(var(--size) - 1rem);
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 54%;
  left: 48%;
  transform: translate(-50%, -50%);
  z-index: 2;
} */

.buttons {
  display: flex;
  flex-flow: column;
  gap: 0.8rem;
  position: absolute;
  top: calc(var(--size) + 8rem);
  right: 50%;
  padding: 1rem;
  background-color: var(--primary-color);
  border: 2px solid var(--accent-color);
  border-radius: 0.5rem;
  box-shadow: 10px 10px 0 hsla(var(--accent-shadow) / 0.1),
    15px 15px 30px hsla(var(--accent-shadow) / 0.1);
  /* transform: translate(-50%, -50%); */

  z-index: 5;
}
.button {
  display: flex;
  column-gap: 0.5rem;
}

.button strong {
  width: 1rem;
  text-align: left;
  text-transform: uppercase;
}
