.module {
  --size: 3rem;
  width: var(--size);
  aspect-ratio: 1 / 1;
  position: relative;
  border-radius: 50%;
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  box-shadow: 10px 10px 0 hsla(var(--accent-shadow) / 0.1),
    15px 15px 30px hsla(var(--accent-shadow) / 0.1);
  color: var(--primary-color);
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all var(--click) ease-in-out;
  cursor: pointer;
}
.module.pressed {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.module p {
  position: absolute;
  top: 48%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.module:active {
  transform: scale(0.9);
  box-shadow: 5px 5px 0 hsla(var(--accent-shadow) / 0.2),
    10px 10px 20px hsla(var(--accent-shadow) / 0.2);
}

.buttons {
  display: none;
  opacity: 0;
  flex-flow: column;
  gap: 0.4rem;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  padding: 1rem;
  overflow: hidden;
  background-color: var(--primary-color);
  border: 2px solid var(--accent-color);
  border-radius: 0.5rem;
  border-radius: 50%;
  box-shadow: 10px 10px 0 hsla(var(--accent-shadow) / 0.1),
    15px 15px 30px hsla(var(--accent-shadow) / 0.1);
  transform: translate3d(0, -20px, 0) scale(0);
}

.button {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding-block: 0.2rem;
  color: var(--secondary-color);
  font-size: 0.8rem;
  font-weight: 400;
  user-select: none;
}

.button strong {
  width: 1.5rem;
  font-size: 1rem;
  text-align: left;
  position: relative;
  text-transform: uppercase;
}

.button.active strong::after {
  content: '';
  width: 0.3rem;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 50%;
  left: -0.4rem;
  transform: translate(-50%, -50%);
  background-color: var(--accent-color);
  border-radius: 50%;
}

/* TRANSITION CLASSES */
.buttons:global(.mountOnEnter) {
  display: flex;
}

.buttons:global(.enterActive) {
  opacity: 1;
  border-radius: 0.5rem;
  transform: translate3d(0, 50px, 0) scale(1);
  transition: all var(--optimal) cubic-bezier(0, 0.83, 0.58, 1);
}

.buttons:global(.exitActive) {
  opacity: 0;
  border-radius: 50%;
  transform: translate3d(0, -20px, 0) scale(0);
  transition: all var(--optimal) cubic-bezier(0.57, 0.05, 1, 0.31);
}
