.action-contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.contact-svg {
  fill: red;
}
.contact-button {
  display: grid;
  place-content: center;
}
.contact-button svg {
  transform: scale(1.2);
}
.telephone-button {
  border-color: hsla(var(--primary-shade) / 0.5);
  background-color: hsla(var(--violet) / 1);
  box-shadow: calc(0.75rem / var(--division)) calc(0.75rem / var(--division)) 0
      hsla(var(--violet) / 0.1),
    calc(0.75rem / var(--division)) calc(0.75rem / var(--division)) calc(1.5rem / var(--division))
      hsla(var(--violet) / 0.1);
}
.telephone-button:hover {
  border-color: hsla(var(--light) / 1);
  box-shadow: calc(0.75rem / var(--division)) calc(0.75rem / var(--division)) 0
      hsla(var(--violet) / 0.1),
    calc(0.75rem / var(--division)) calc(0.75rem / var(--division)) calc(1.5rem / var(--division))
      hsla(var(--violet) / 0.1);
}

.telephone-button:active {
  border-color: hsla(var(--light) / 1);
  box-shadow: calc(0.5rem / var(--division)) calc(0.5rem / var(--division)) 0
      hsla(var(--violet) / 0.3),
    calc(0.5rem / var(--division)) calc(0.5rem / var(--division)) calc(1rem / var(--division))
      hsla(var(--violet) / 0.3);
}

.email-button {
  border-color: hsla(var(--primary-shade) / 0.5);
  background-color: hsla(var(--red) / 1);
  box-shadow: calc(0.75rem / var(--division)) calc(0.75rem / var(--division)) 0
      hsla(var(--red) / 0.1),
    calc(0.75rem / var(--division)) calc(0.75rem / var(--division)) calc(1.5rem / var(--division))
      hsla(var(--red) / 0.1);
}

.email-button:hover {
  border-color: hsla(var(--light) / 1);
  box-shadow: calc(0.75rem / var(--division)) calc(0.75rem / var(--division)) 0
      hsla(var(--red) / 0.1),
    calc(0.75rem / var(--division)) calc(0.75rem / var(--division)) calc(1.5rem / var(--division))
      hsla(var(--red) / 0.1);
}

.email-button:active {
  border-color: hsla(var(--light) / 1);
  box-shadow: calc(0.5rem / var(--division)) calc(0.5rem / var(--division)) 0 hsla(var(--red) / 0.3),
    calc(0.5rem / var(--division)) calc(0.5rem / var(--division)) calc(1rem / var(--division))
      hsla(var(--red) / 0.3);
}

.telegram-button {
  border-color: hsla(var(--primary-shade) / 0.5);
  background-color: hsla(var(--blue) / 1);
  box-shadow: calc(0.75rem / var(--division)) calc(0.75rem / var(--division)) 0
      hsla(var(--blue) / 0.1),
    calc(0.75rem / var(--division)) calc(0.75rem / var(--division)) calc(1.5rem / var(--division))
      hsla(var(--blue) / 0.1);
}

.telegram-button:hover {
  border-color: hsla(var(--light) / 1);
  box-shadow: calc(0.75rem / var(--division)) calc(0.75rem / var(--division)) 0
      hsla(var(--blue) / 0.1),
    calc(0.75rem / var(--division)) calc(0.75rem / var(--division)) calc(1.5rem / var(--division))
      hsla(var(--blue) / 0.1);
}

.telegram-button:active {
  border-color: hsla(var(--light) / 1);
  box-shadow: calc(0.5rem / var(--division)) calc(0.5rem / var(--division)) 0
      hsla(var(--blue) / 0.3),
    calc(0.5rem / var(--division)) calc(0.5rem / var(--division)) calc(1rem / var(--division))
      hsla(var(--blue) / 0.3);
}

.whatsapp-button {
  border-color: hsla(var(--primary-shade) / 0.5);
  background-color: hsla(var(--green) / 1);
  box-shadow: calc(0.75rem / var(--division)) calc(0.75rem / var(--division))
    calc(1.5rem / var(--division)) hsla(var(--green) / 0.1);
  filter: drop-shadow(0.75rem 0.75rem 0 hsla(var(--green) / 0.1));
}
.whatsapp-button::after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  bottom: -0.4rem;
  left: -0.4rem;
  border-style: solid;
  border-width: 15px 25px 15px 0;
  border-color: transparent hsla(var(--green) / 1) transparent transparent;
  transform: rotate(-45deg);
  z-index: -1;
}
.whatsapp-button:hover {
  border-color: hsla(var(--light) / 1);
  box-shadow: calc(0.75rem / var(--division)) calc(0.75rem / var(--division))
    calc(1.5rem / var(--division)) hsla(var(--green) / 0.1);
  filter: drop-shadow(0.75rem 0.75rem 0 hsla(var(--green) / 0.1));
}

.whatsapp-button:active {
  border-color: hsla(var(--light) / 1);
  box-shadow: calc(0.5rem / var(--division)) calc(0.5rem / var(--division))
    calc(1rem / var(--division)) hsla(var(--green) / 0.3);
  filter: drop-shadow(0.5rem 0.5rem 0 hsla(var(--green) / 0.3));
}
