#get-in-touch {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - var(--gap-column-section) / 2));
  column-gap: var(--gap-column-section);
  row-gap: var(--gap-column-section);
}
@media screen and (max-width: 960px) {
  #get-in-touch {
    grid-template-columns: 100%;
    row-gap: var(--gap-three);
  }
}
