.testimonials {
  display: grid;
  align-self: center;
  column-gap: var(--gap-column-section);
  row-gap: var(--gap-column-section);
}

@media screen and (max-width: 960px) {
  .testimonials {
    grid-template-columns: 100%;
    row-gap: var(--gap-five);
    padding-inline: 1rem;
  }
}
