.module {
  position: absolute;
  animation-name: shine;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.module:global(.label-diamond) {
  right: -4rem;
  top: -3rem;
}
.module:global(.label-diamond) {
  right: -4rem;
  top: -3rem;
}

@keyframes shine {
  50% {
    transform: scale(0.5) rotate(90deg);
  }
}
