.module {
  position: absolute;
  animation: shine 5s ease-in-out infinite;
}

.module:global(.label-diamond) {
  right: -4rem;
  top: -3rem;
}

@keyframes shine {
  50% {
    transform: scale(0.5) rotate(90deg);
  }
}
