#our-little-story {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - var(--gap-column-section) / 2));
  column-gap: var(--gap-column-section);
  row-gap: var(--gap-row-section);
}
.story {
  grid-column: 1 /-1;
  column-count: 2;
  column-gap: var(--gap-column-section);
}
.story-description:first-child {
  margin-block-start: 0;
}
@media screen and (max-width: 960px) {
  #our-little-story {
    grid-template-columns: 100%;
    row-gap: var(--gap-three);
  }
  .story {
    column-count: 1;
  }
}
