#our-little-story {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - var(--gap-column-section) / 2));
  column-gap: var(--gap-column-section);
  row-gap: var(--gap-row-section);
}
@media screen and (max-width: 960px) {
  #our-little-story {
    grid-template-columns: 100%;
    row-gap: var(--gap-three);
  }
}
