.module {
  align-items: center;
  flex-flow: column;
}
.video {
  --value: clamp(320px, 90vw, 1200px);
  width: var(--value);
  height: calc(var(--value) / 1.77);
}
.frame {
  width: 100%;
  height: 100%;
}
