#what-we-offer {
  display: grid;
  grid-template-columns: var(--gap-one) 1fr var(--gap-one);
  /* column-gap: var(--gap-column-section); */
  grid-auto-rows: min-content;
  row-gap: var(--gap-column-section);
}

.services {
  grid-column: 1 /-1;
  display: flex;
  flex-flow: column;
  row-gap: var(--gap-column-section);
}

@media screen and (max-width: 960px) {
  #what-we-offer {
    grid-template-columns: 100%;
    row-gap: var(--gap-three);
  }
}

@import url('./services/service.css');
