/* buttons styles*/
.button-txt {
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  user-select: none;
}
.rect-button,
.hire-button {
  width: fit-content;
  display: flex;
  column-gap: 0.8rem;
  padding: 1rem 2rem;
  font-size: 1.225rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-radius: 1rem;
  border: 2px solid transparent;
  transition: all var(--optimal) ease-in-out;
  box-shadow: 0.75rem 0.75rem 0 hsla(var(--accent-shade) / 0.1),
    0.75rem 0.75rem 1.5rem hsla(var(--accent-shade) / 0.1);
  user-select: none;
}
.rect-button {
  fill: var(--secondary-color);
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-color: hsla(var(--accent-shade) / 0.5);
}
.hire-button {
  fill: var(--primary-color);
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-color: hsla(var(--accent-shade) / 0.5);
}
.rect-button:hover,
.hire-button:hover {
  box-shadow: 0.75rem 0.75rem 0 hsla(var(--accent-shade) / 0.1),
    0.75rem 0.75rem 1.5rem hsla(var(--accent-shade) / 0.1);
}
.rect-button:active,
.hire-button:active {
  box-shadow: 0.5rem 0.5rem 0 hsla(var(--accent-shade) / 0.3),
    0.5rem 0.5rem 1rem hsla(var(--accent-shade) / 0.3);
}
.rect-button:hover,
.rect-button:active {
  border-color: var(--accent-color);
}
.hire-button:hover,
.hire-button:active {
  border-color: hsl(var(--accent-shade));
}
.rect-button.disable {
  fill: hsla(var(--secondary-shade) / 0.5);
  color: hsla(var(--secondary-shade) / 0.5);
  background-color: var(--primary-color);
  border-color: hsla(var(--secondary-shade) / 0.1);
  box-shadow: none;
  pointer-events: none;
}
.rect-button.move {
  opacity: 0;
  /* transform: translateX(-1rem); */
  pointer-events: none;
}

.circle-l {
  --division: 1;
}
.circle-m {
  --division: 2.4;
}

.circle-button {
  width: calc(6rem / var(--division));
  aspect-ratio: 1 / 1;
  position: relative;
  border-radius: 50%;
  background-color: var(--primary-color);
  box-shadow: inset 0 0 0 1px hsla(var(--accent-shade) / 0.5),
    calc(0.75rem / var(--division)) calc(0.75rem / var(--division)) 0
      hsla(var(--accent-shade) / 0.1),
    calc(0.75rem / var(--division)) calc(0.75rem / var(--division))
      calc(1.5rem / var(--division)) hsla(var(--accent-shade) / 0.1);
  transition: all var(--optimal) ease-in-out;
}

.circle-button:hover {
  box-shadow: inset 0 0 0 2px hsla(var(--accent-shade) / 1),
    calc(0.75rem / var(--division)) calc(0.75rem / var(--division)) 0
      hsla(var(--accent-shade) / 0.1),
    calc(0.75rem / var(--division)) calc(0.75rem / var(--division))
      calc(1.5rem / var(--division)) hsla(var(--accent-shade) / 0.1);
}

.circle-button:active {
  box-shadow: inset 0 0 0 2px hsla(var(--accent-shade) / 0.85),
    calc(0.5rem / var(--division)) calc(0.5rem / var(--division)) 0
      hsla(var(--accent-shade) / 0.3),
    calc(0.5rem / var(--division)) calc(0.5rem / var(--division))
      calc(1rem / var(--division)) hsla(var(--accent-shade) / 0.3);
}

.circle-button.pressed {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.click:active {
  transform: scale(0.95);
  transition: all var(--click) ease-in-out;
}

@media screen and (max-width: 560px) {
  .rect-button {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.8rem;
  }
}
