/* buttons styles*/
/* .button-txt {
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  user-select: none;
} */
.rect-button,
.hire-button {
  padding: 1rem 2rem;
  font-size: 1.225rem;
  text-transform: uppercase;
  border-radius: 1rem;
  box-shadow: 0.75rem 0.75rem 0 hsla(var(--accent-shade) / 0.1),
    0.75rem 0.75rem 1.5rem hsla(var(--accent-shade) / 0.1);
}
.rect-button,
.hire-button,
.intl-button {
  width: fit-content;
  display: flex;
  column-gap: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  white-space: nowrap;
  line-height: 1.1;
  border: 2px solid transparent;
  transition: all var(--optimal) ease-in-out;
  transform-origin: center bottom;
  user-select: none;
}
.intl-button {
  align-items: center;
  padding: 0.575rem 1rem;
  font-size: 1rem;
  background-color: hsla(var(--accent-shade) / 0.05);
  border-color: hsla(var(--accent-shade) / 0.5);
  border-radius: 0.725rem;
  color: var(--secondary-color);
  text-transform: capitalize;
  box-shadow: 0.5rem 0.5rem 0 hsla(var(--accent-shade) / 0.1),
    0.5rem 0.5rem 1.5rem hsla(var(--accent-shade) / 0.1);
}
.rect-button {
  fill: var(--secondary-color);
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-color: hsla(var(--accent-shade) / 0.5);
}
.hire-button {
  fill: var(--primary-color);
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-color: hsla(var(--accent-shade) / 0.5);
}
.intl-button:active {
  box-shadow: 0.25rem 0.25rem 0 hsla(var(--accent-shade) / 0.3),
    0.25rem 0.25rem 1rem hsla(var(--accent-shade) / 0.3);
}
.rect-button:active,
.hire-button:active {
  box-shadow: 0.5rem 0.5rem 0 hsla(var(--accent-shade) / 0.3),
    0.5rem 0.5rem 1rem hsla(var(--accent-shade) / 0.3);
}
.rect-button:hover,
.rect-button:active,
.hire-button:hover,
.hire-button:active,
.intl-button:hover,
.intl-button:active {
  border-color: var(--accent-color);
}
.rect-button.disable {
  fill: hsla(var(--secondary-shade) / 0.5);
  color: hsla(var(--secondary-shade) / 0.5);
  background-color: var(--primary-color);
  border-color: hsla(var(--secondary-shade) / 0.1);
  box-shadow: none;
  pointer-events: none;
}
.rect-button.complete {
  fill: var(--primary-color);
  stroke: var(--primary-color);
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-color: hsla(var(--secondary-shade) / 0.1);
  box-shadow: none;
  pointer-events: none;
  transition: all var(--optimal) ease-in-out;
}
.rect-button.move {
  opacity: 0;
  /* transform: translateX(-1rem); */
  pointer-events: none;
}

.circle-l {
  --division: 1;
}
.circle-m {
  --division: 2.4;
}

.circle-button,
.contact-button {
  width: calc(6rem / var(--division));
  aspect-ratio: 1 / 1;
  position: relative;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all var(--optimal) ease-in-out;
}
.circle-button {
  border-color: hsla(var(--accent-shade) / 0.5);
  background-color: var(--primary-color);
  box-shadow: calc(0.75rem / var(--division)) calc(0.75rem / var(--division)) 0
      hsla(var(--accent-shade) / 0.1),
    calc(0.75rem / var(--division)) calc(0.75rem / var(--division)) calc(1.5rem / var(--division))
      hsla(var(--accent-shade) / 0.1);
}

.circle-button:hover {
  border-color: var(--accent-color);
  box-shadow: calc(0.75rem / var(--division)) calc(0.75rem / var(--division)) 0
      hsla(var(--accent-shade) / 0.1),
    calc(0.75rem / var(--division)) calc(0.75rem / var(--division)) calc(1.5rem / var(--division))
      hsla(var(--accent-shade) / 0.1);
}

.circle-button:active {
  border-color: var(--accent-color);
  box-shadow: calc(0.5rem / var(--division)) calc(0.5rem / var(--division)) 0
      hsla(var(--accent-shade) / 0.3),
    calc(0.5rem / var(--division)) calc(0.5rem / var(--division)) calc(1rem / var(--division))
      hsla(var(--accent-shade) / 0.3);
}

.click:active {
  transform: scale(0.95);
  transition: all var(--click) ease-in-out;
}

@media screen and (max-width: 560px) {
  .rect-button {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.8rem;
  }
  .intl-button {
    display: none;
  }
}
