#projects,
#services {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.section-header {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.main-title,
.section-title {
  text-transform: uppercase;
  line-height: 1.1;
}
.main-title {
  font-size: clamp(2.5em, 5vw, 6em);
  word-spacing: 999px;
}
.section-title {
  font-size: clamp(2em, 4vw, 4em);
  text-align: center;
}

.description-main,
.description-section {
  /* max-width: 800px; */
  font-size: clamp(1.175em, 1.8vw, 1.5em);
  line-height: 1.3;
}
.description-main {
  text-align: left;
}
.description-section {
  margin-block-start: 2rem;
  text-align: left;
}

.h2-title {
  font-size: clamp(1.5em, 4vw, 2em);
  line-height: 1.05;
  letter-spacing: 0.5px;
  text-align: center;
}

.paragraph {
  font-size: 1.125em;
  line-height: 1.4;
}
.align-center {
  margin-inline: auto;
  text-align: center;
}
/* buttons styles*/

.circle-button {
  width: 3rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--switch-button-bg);
  box-shadow: 10px 10px 0 hsla(var(--red) / 0.1),
    15px 15px 30px hsla(var(--red) / 0.1);
}
.circle-button-96 {
  width: 6rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

/* Modal base */
.modal {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  position: fixed;
  inset: 0;
  overflow-y: auto;
  border: none;
  background-color: var(--bg);
  z-index: 9999;
}
.modal[open] {
  display: flex;
  animation: fade-in 0.2s ease-in-out forwards; /*  cubic-bezier(0, 1.1, 0.5, 1)*/
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 960px) {
}
