#projects,
#services {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.section-header {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.main-title,
.section-title {
  text-transform: uppercase;
  line-height: 1.1;
}
.main-title {
  font-size: clamp(2.5em, 5vw, 6em);
  word-spacing: 999px;
}
.section-title {
  font-size: clamp(2em, 4vw, 4em);
  text-align: center;
}

.description-main,
.description-section {
  /* max-width: 800px; */
  font-size: clamp(1.175em, 1.8vw, 1.5em);
  line-height: 1.3;
}
.description-main {
  text-align: left;
}
.description-section {
  margin-block-start: 2rem;
  text-align: left;
}

.h2-title {
  font-size: clamp(1.5em, 4vw, 2em);
  line-height: 1.05;
  letter-spacing: 0.5px;
  text-align: center;
}

.paragraph {
  font-size: 1.125em;
  line-height: 1.4;
}
.align-center {
  margin-inline: auto;
  text-align: center;
}
/* buttons styles*/
.button-txt {
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
.circle-l {
  --division: 1;
}
.circle-m {
  --division: 2.4;
}

.circle-button {
  width: calc(6rem / var(--division));
  aspect-ratio: 1 / 1;
  position: relative;
  border-radius: 50%;
  background-color: var(--primary-color);
  box-shadow: calc(0.75rem / var(--division)) calc(0.75rem / var(--division)) 0
      hsla(var(--accent-shadow) / 0.1),
    calc(0.75rem / var(--division)) calc(0.75rem / var(--division))
      calc(1.5rem / var(--division)) hsla(var(--accent-shadow) / 0.1),
    inset 0 0 0 1px hsla(var(--accent-shadow) / 0.5);
  transition: all var(--optimal) ease-in-out;
  user-select: none;
}

.circle-button:hover {
  box-shadow: calc(0.75rem / var(--division)) calc(0.75rem / var(--division)) 0
      hsla(var(--accent-shadow) / 0.1),
    calc(0.75rem / var(--division)) calc(0.75rem / var(--division))
      calc(1.5rem / var(--division)) hsla(var(--accent-shadow) / 0.1),
    inset 0 0 0 2px hsla(var(--accent-shadow) / 1);
}

.circle-button:active {
  box-shadow: calc(0.5rem / var(--division)) calc(0.5rem / var(--division)) 0
      hsla(var(--accent-shadow) / 0.3),
    calc(0.5rem / var(--division)) calc(0.5rem / var(--division))
      calc(1rem / var(--division)) hsla(var(--accent-shadow) / 0.3),
    inset 0 0 0 1px hsla(var(--accent-shadow) / 0.85);
}

.circle-button.pressed {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

/* Modal base */
.modal {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  position: fixed;
  inset: 0;
  overflow-y: auto;
  border: none;
  background-color: var(--primary-color);
  z-index: 9999;
}
.modal[open] {
  display: flex;
  animation: fade-in 0.2s ease-in-out forwards; /*  cubic-bezier(0, 1.1, 0.5, 1)*/
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 960px) {
}

/* DIAMOND's styles */
.star-accent {
  fill: var(--accent-color);
}
.star-shade {
  fill: hsla(var(--accent-shadow) / 0.85);
}
.star-secondary {
  fill: var(--secondary-color);
}
.duration-5 {
  animation-duration: 5s;
}
.duration-7 {
  animation-duration: 7s;
}
.duration-9 {
  animation-duration: 9s;
}
.duration-11 {
  animation-duration: 11s;
}
.duration-13 {
  animation-duration: 13s;
}
.delay-1 {
  animation-delay: 1s;
}
.delay-2 {
  animation-delay: 2s;
}
.delay-3 {
  animation-delay: 3s;
}
.delay-4 {
  animation-delay: 4s;
}
.delay-5 {
  animation-delay: 5s;
}
