#projects,
#services {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.section-header {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.main-title,
.section-title {
  text-transform: uppercase;
  line-height: 1.1;
}
.main-title {
  font-size: clamp(2.5em, 5vw, 6em);
  word-spacing: 999px;
}
.section-title {
  grid-column: 1 / -1;
  font-size: clamp(2em, 4vw, 4em);
  text-align: center;
}

.description-main,
.description-section {
  /* max-width: 800px; */
  font-size: clamp(1.125em, 1.8vw, 1.5em);
  line-height: 1.3;
}
.description-section {
  margin-block-start: clamp(1rem, 4vw, 2rem);
}

.h2-title {
  font-size: clamp(1.5em, 4vw, 2em);
  line-height: 1.05;
  letter-spacing: 0.5px;
  text-align: center;
}

.paragraph {
  font-size: 1.125em;
  line-height: 1.4;
}
.align-center {
  margin-inline: auto;
  text-align: center;
}

/* SECTION BLOCKS */
.section-content {
  display: flex;
  flex-flow: column;
  row-gap: 2.5rem;
  align-self: center;
  overflow: hidden;
  padding-block-end: 1rem;
}
.content-left {
  grid-column: 1;
}
.content-right {
  grid-column: 2;
  order: 2;
}

.illustration {
  height: 470px;
  position: relative;
  user-select: none;
}
.illustration-right {
  grid-column: 2;
}
.illustration-left {
  grid-column: 1;
}

@media screen and (max-width: 960px) {
  .illustration {
    height: clamp(200px, 55vw, 270px);
  }
  .illustration-right {
    grid-column: 1;
    order: 1;
  }
  .content-left,
  .content-right {
    order: 2;
  }
}

@media screen and (max-width: 960px) {
}

/* TRANSITION CLASSES */
.mountOnEnter {
  display: flex;
}

.enterActive {
  opacity: 1;
  border-radius: 0.5rem;
  transform: translate3d(0, 50px, 0) scale(1);
  transition: all var(--optimal) cubic-bezier(0, 0.83, 0.58, 1);
}

.exitActive {
  opacity: 0;
  border-radius: 50%;
  transform: translate3d(0, -20px, 0) scale(0);
  transition: all var(--optimal) cubic-bezier(0.57, 0.05, 1, 0.31);
}
