/*
Don't put font-face in styled-components!!!
because of this, has a strange visual effect
when iterating elements for the first time.
*/
@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  size-adjust: 100%;
}

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  size-adjust: 100%;
}
