@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
:root {
  --light: 32 100% 97%; /* hsl(32, 100%, 97%) */
  --dark: 0, 0%, 22%; /* hsl(0, 0%, 22%) */
  --rose: 315 100% 70%; /* hsl(315, 100%, 70%) */
  --violet: 265 85% 63%; /* hsl(265, 85%, 63%) */
  --blue: 201 84% 55%; /* hsl(201, 84%, 55%) */
  --green: 129 65% 43%; /* hsl(129, 65%, 43%) */
  --red: 5 70% 57%; /* hsl(5, 70%, 57%) */
  --violet-shadow: hsla(var(--violet) / 0.1);
  --blue-shadow: hsla(var(--blue) / 0.1);
  --green-shadow: hsla(var(--green) / 0.1);
  --red-shadow: hsla(var(--red) / 0.1);
}

html[data-theme='light'] {
  --primary: hsl(var(--light));
  --secondary: hsl(var(--dark));
  --secondary-shade: hsla(var(--dark) / 0.85);
  --card-color: hsl(24, 100%, 99%);
  --accent-color: hsl(var(--violet));
  --accent-shadow: hsla(var(--violet) / 0.1);
}
html[data-theme='dark'] {
  --primary: hsl(var(--dark));
  --secondary: hsl(var(--light));
  --secondary-shade: hsla(var(--light) / 0.85);
  --card-color: hsl(0, 0%, 33%);
  --accent-color: hsl(var(--rose));
  --accent-shadow: hsla(var(--rose) / 0.1);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-size-adjust: none;
}
html {
  transition: all 0.2s ease-in-out;
  scrollbar-gutter: stable;
}
html,
body,
#__next {
  position: relative;
}
body {
  max-width: 1920px;
  padding: 1.5rem 2.5rem 0rem;
  margin: 0 auto;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
a,
li,
p,
span,
button,
label,
div,
time,
address {
  font-family: 'Roboto';
  transition: all 0.2s ease-in-out;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
a,
li,
button {
  font-weight: bold;
}

main {
  width: 100%;
  display: flex;
  flex-flow: column;
  row-gap: 10rem;
  margin-inline: auto;
  position: relative;
}

@media (max-width: 960px) {
  body {
    padding: 1rem 1rem 0;
  }
  main {
    margin-block-start: 5rem;
  }
}

@import url('./common.css');
