@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth !important;
  }
  .animated {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
    transition: all 1s ease;
  }
  .animated.top-hide {
    transform: translateY(-50px) scale(0.9);
  }
  .animated.show {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}
:root {
  --light: 32 100% 95%; /* hsl(32, 100%, 97%) */
  --dark: 263 0% 16%; /* hsl(0, 0%, 22%) */
  --rose: 337 80% 65%; /* hsl(337, 80%, 65%) */
  --violet: 263 80% 60%; /* hsl(263, 80%, 60%) */
  --blue: 201 84% 55%; /* hsl(201, 84%, 55%) */
  --green: 129 65% 43%; /* hsl(129, 65%, 43%) */
  --red: 5 70% 57%; /* hsl(5, 70%, 57%) */
  --violet-shadow: hsla(var(--violet) / 0.1);
  --blue-shadow: hsla(var(--blue) / 0.1);
  --green-shadow: hsla(var(--green) / 0.1);
  --red-shadow: hsla(var(--red) / 0.1);

  /* Transition duration */
  --optimal: 0.3s; /* Global transition duration*/
  --especial: 0.5s; /* Especial */
  --click: 0.1s; /* when you click the button */

  /* GAPS */
  --gap-one: 1rem;
  --gap-two: 2rem;
  --gap-three: 3rem;
  --gap-five: 5rem;
  --gap-column-section: 8rem;
  --gap-row-section: 8rem;
  --body-padding: 2rem;
}

html[data-theme='light'] {
  --primary-color: hsl(var(--light));
  --primary-shade: var(--light);
  --secondary-color: hsl(var(--dark));
  --secondary-shade: var(--dark); /* main shade .85 */
  --card-color: hsl(24, 100%, 97%);

  --accent-color: hsl(var(--violet));
  --accent-shade: var(--violet);

  --switch-button-bg: var(--green);

  --class-highlight: var(--violet);

  /* SVG ellipse */
  --start-ellipse: hsl(32 100% 95%);
  --end-ellipse: hsl(32 0% 22%);
}
html[data-theme='dark'] {
  --primary-color: hsl(var(--dark));
  --primary-shade: var(--dark);
  --secondary-color: hsl(var(--light));
  --secondary-shade: var(--light); /* main shade .85 */
  --card-color: hsl(0, 0%, 31%);

  --accent-color: hsl(var(--rose));
  --accent-shade: var(--rose);

  --switch-button-bg: var(--red);

  --class-highlight: var(--light);

  /* SVG ellipse */
  --start-ellipse: hsl(32 0% 34%);
  --end-ellipse: hsl(0 0% 0%);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-size-adjust: none;
}
html {
  background-color: var(--primary-color) !important;
  transition: all 0.3s ease-in-out;
  scrollbar-gutter: stable;
}
html,
body,
#__next {
  position: relative;
}
body {
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
a,
li,
p,
span,
button,
label,
div,
time,
address {
  font-family: 'Rubik';
}
img {
  user-select: none;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
a,
li,
button {
  font-weight: bold;
}
#orientation-landscape {
  display: none;
}

main {
  width: 100%;
  display: flex;
  flex-flow: column;
  row-gap: 20rem;
  padding-block-start: 5rem;
  margin-inline: auto;
  position: relative;
}

@media (max-width: 960px) {
  :root {
    --body-padding: 1rem;
  }
}

@media screen and (max-width: 560px) {
  main {
    padding-block-start: 0;
  }
}
@media screen and (max-width: 960px) {
  main {
    row-gap: 12rem;
  }
}

/* Prevent to show content if orientation & height is valid */
@media only screen and (orientation: landscape) and (max-device-height: 780px) {
  main {
    margin-block-start: 5rem;
    row-gap: 10rem;
  }
}

@import url('./common.css');
@import url('./buttons.css');
@import url('./stars.css');
@import url('./slider/slider.css');
@import url('./modals.css');
@import url('./navigation/navigation.css');
@import url('./hero-section/hero-section.css');
@import url('./how-we-work/how-we-work.css');
@import url('./what-we-offer/what-we-offer.css');
@import url('./our-little-story/our-little-story.css');
@import url('./testimonials/testimonials.css');
@import url('./get-in-touch/get-in-touch.css');
