html[data-theme='dark'] .illustration {
  --ill-primary-80: hsl(263, 80%, 80%);
  --ill-primary-75: hsl(263, 80%, 75%);
  --ill-primary-70: hsl(263, 80%, 70%);
  --ill-primary-65: hsl(263, 80%, 65%);
  --ill-primary-60: hsl(263, 80%, 60%);
  --ill-primary-50: hsl(263, 50%, 50%);
  --ill-primary-40: hsl(263, 50%, 40%);
  --ill-primary-30: hsl(263, 50%, 30%);
  /* --ill-primary-80: hsl(327, 80%, 80%);
  --ill-primary-75: hsl(327, 80%, 75%);
  --ill-primary-70: hsl(327, 80%, 70%);
  --ill-primary-65: hsl(337, 80%, 65%);
  --ill-primary-60: hsl(337, 80%, 60%);
  --ill-primary-50: hsl(337, 50%, 50%);
  --ill-primary-40: hsl(337, 50%, 40%);
  --ill-primary-30: hsl(337, 50%, 30%); */

  --ill-primary-65-hover: hsl(263, 50%, 70%);
  --ill-primary-50-hover: hsl(263, 50%, 50%);

  /* hsl(210, 80%, 80%) */
  /* hsl(15, 80%, 80%) */
  /* hsl(290, 80%, 80%) */

  --ill-secondary-80: hsl(337, 80%, 80%);
  --ill-secondary-75: hsl(337, 80%, 75%);
  --ill-secondary-70: hsl(337, 80%, 70%);
  --ill-secondary-65: hsl(337, 80%, 65%);
  --ill-secondary-60: hsl(337, 80%, 60%);
  --ill-secondary-50: hsl(337, 50%, 50%);
  /* --ill-secondary-80: hsl(263, 80%, 80%);
  --ill-secondary-75: hsl(263, 80%, 75%);
  --ill-secondary-70: hsl(263, 80%, 70%);
  --ill-secondary-65: hsl(263, 80%, 65%);
  --ill-secondary-60: hsl(263, 80%, 60%);
  --ill-secondary-50: hsl(263, 50%, 50%); */

  --ill-detail-white: hsl(199, 15%, 100%);
  --ill-detail-95: hsl(199, 15%, 95%);
  --ill-detail-80: hsl(199, 15%, 80%);
  --ill-detail-50: hsl(199, 15%, 50%);
  --ill-detail-40: hsl(199, 15%, 40%);
  --ill-detail-30: hsl(199, 15%, 30%);
  --ill-detail-25: hsl(199, 15%, 25%);
  --ill-detail-20: hsl(199, 30%, 20%);
  --ill-detail-15: hsl(199, 30%, 15%);
  --ill-detail-black: hsl(199, 30%, 10%);

  --ill-soil: hsl(263, 10%, 30%);
  --ill-soil-shadow-gradient-stop: hsl(263, 10%, 20%);
  --ill-soil-shadow-gradient-start: hsl(263, 10%, 25%);

  --ill-body-black-skin: #8b6b6b;
  --ill-body-light-skin: #f99e83;
  --ill-body-light-skin2: #d88260;
  --ill-body-light-skin-shadow: #e2674d;
  --ill-hair-color: #404551;

  --ill-drone-blades: var(--ill-detail-white);
  --ill-smartphone-screen-gradient-start: var(--ill-detail-15);
  --ill-smartphone-screen-gradient-end: var(--ill-secondary-50);
}
html[data-theme='light'] .illustration {
  --ill-primary-80: hsl(327, 80%, 80%);
  --ill-primary-75: hsl(327, 80%, 75%);
  --ill-primary-70: hsl(327, 80%, 70%);
  --ill-primary-65: hsl(337, 80%, 65%);
  --ill-primary-60: hsl(337, 80%, 60%);
  --ill-primary-50: hsl(337, 50%, 50%);
  --ill-primary-40: hsl(337, 50%, 40%);
  --ill-primary-30: hsl(337, 50%, 30%);

  --ill-primary-65-hover: hsl(263, 80%, 70%);
  --ill-primary-50-hover: hsl(263, 80%, 50%);

  --ill-secondary-80: hsl(263, 80%, 80%);
  --ill-secondary-75: hsl(263, 80%, 75%);
  --ill-secondary-70: hsl(263, 80%, 70%);
  --ill-secondary-65: hsl(263, 80%, 65%);
  --ill-secondary-60: hsl(263, 80%, 60%);
  --ill-secondary-50: hsl(263, 50%, 50%);

  --ill-detail-white: hsl(0, 0%, 100%);
  --ill-detail-95: hsl(199, 10%, 95%);
  --ill-detail-80: hsl(199, 10%, 80%);
  --ill-detail-50: hsl(199, 10%, 50%);
  --ill-detail-30: hsl(199, 10%, 30%);
  --ill-detail-20: hsl(199, 10%, 15%);
  --ill-detail-15: hsl(199, 30%, 20%);
  --ill-detail-black: hsl(199, 10%, 10%);

  --ill-soil: hsl(30, 95%, 90%);
  --ill-soil-shadow-gradient-stop: hsl(30, 35%, 45%);
  --ill-soil-shadow-gradient-start: hsl(30, 45%, 65%);

  --ill-body-black-skin: #8b6b6b;
  --ill-body-light-skin: #f99e83;
  --ill-body-light-skin2: #d88260;
  --ill-body-light-skin-shadow: #e2674d;
  --ill-hair-color: #404551;

  --ill-drone-blades: var(--ill-detail-15);
  --ill-smartphone-screen-gradient-start: var(--ill-secondary-65);
  --ill-smartphone-screen-gradient-end: var(--ill-secondary-80);
}

/* ILLUSTRATION PROPERTIES */
.illustration {
  display: flex;
  height: 470px;
  position: relative;
  user-select: none;
}
.illustration-right {
  grid-column: 2;
  justify-content: flex-end;
}
.illustration-left {
  grid-column: 1;
}

@media screen and (max-width: 960px) {
  .illustration {
    height: clamp(200px, 55vw, 270px);
  }
  .illustration-right {
    grid-column: 1;
    justify-content: center;
    order: 1;
  }
}

/* ILLUSTRATION OPTION PROPERTIES */
.primary-30 {
  fill: var(--ill-primary-30);
}
.primary-40 {
  fill: var(--ill-primary-40);
}
.primary-50 {
  fill: var(--ill-primary-50);
  transition: all 0.3s ease-in-out;
}
.primary-60 {
  fill: var(--ill-primary-70);
}
.primary-65 {
  fill: var(--ill-primary-65);
  transition: all 0.3s ease-in-out;
}
.primary-70 {
  fill: var(--ill-primary-70);
}
.primary-75 {
  fill: var(--ill-primary-70);
}
.primary-80 {
  fill: var(--ill-primary-70);
}

.secondary-50 {
  fill: var(--ill-secondary-50);
}
.secondary-60 {
  fill: var(--ill-secondary-60);
}
.secondary-65 {
  fill: var(--ill-secondary-65);
}
.secondary-70 {
  fill: var(--ill-secondary-70);
}
.secondary-75 {
  fill: var(--ill-secondary-75);
}
.secondary-80 {
  fill: var(--ill-secondary-80);
}

.detail-black {
  fill: var(--ill-detail-black);
}
.detail-15 {
  fill: var(--ill-detail-15);
}
.detail-20 {
  fill: var(--ill-detail-20);
}
.detail-30 {
  fill: var(--ill-detail-30);
}
.detail-50 {
  fill: var(--ill-detail-50);
}
.detail-80 {
  fill: var(--ill-detail-80);
}
.detail-95 {
  fill: var(--ill-detail-95);
}
.detail-white {
  fill: var(--ill-detail-white);
}

.soil {
  fill: var(--ill-soil);
}
.body-black-skin {
  fill: var(--ill-body-black-skin);
}
.body-light-skin {
  fill: var(--ill-body-light-skin);
}
.body-light-skin2 {
  fill: var(--ill-body-light-skin2);
}
.hair-color {
  fill: var(--ill-hair-color);
}

.opacity-40 {
  opacity: 0.4;
}

.white-stroke-element,
.primary-stroke-65,
.detail-stroke-4,
.smartphone-in-hands {
  fill: none;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

/* AERIAL FILMING PROPERTIES */
.aerial-filming-shadow {
  fill: url(#aerial-filming-shadow);
}

.shadow stop:first-child {
  stop-color: var(--ill-soil-shadow-gradient-stop);
}
.shadow stop:last-child {
  stop-color: var(--ill-soil-shadow-gradient-start);
}

/*  ADVERTISING PROPERTIES */
.advertising-main-shadow {
  fill: url(#advertising-main-shadow);
}
.advertising-human1-shadow {
  fill: url(#advertising-human1-shadow);
}
.advertising-human2-shadow {
  fill: url(#advertising-human2-shadow);
}
.drone-blades {
  fill: var(--ill-drone-blades);
}

/* PHOTOGRAPHY PROPERTIES */
.photography-shadow {
  fill: url(#photography-shadow);
}
.photography-flash {
  fill: hsl(var(--red));
}

/* 3D GRAPHICS PROPERTIES */
.graphics3d-shadow {
  fill: url(#graphics3d-shadow);
}
.depth-gradient-3 {
  fill: url(#depth-gradient-3);
}
.depth-gradient-D {
  fill: url(#depth-gradient-D);
}
/* VIDEO PRODUCTION PROPERTIES */
.video-production-shadow {
  fill: url(#video-production-shadow);
}
.white-stroke-element {
  stroke: var(--ill-detail-white);
  stroke-width: 2px;
}
.primary-stroke-65 {
  stroke: var(--ill-primary-65);
}
.detail-stroke-4 {
  stroke: var(--ill-detail-30);
}
.primary-stroke-65,
.detail-stroke-4 {
  stroke-width: 10px;
}

/* HOW WE WORK PROPERTIES */
.sneakers-foot {
  stroke: var(--ill-detail-95);
  fill: var(--ill-detail-white);
  stroke-miterlimit: 10;
}
.notepad-paper,
.pen-ereaser {
  stroke: var(--ill-detail-50);
  fill: var(--ill-detail-white);
  stroke-miterlimit: 10;
}

/* GET IN TOUCH PROPERTIES */
.phone-bg-linear-gradient {
  fill: url(#phone-bg-linear-gradient);
}
#phone-bg-linear-gradient stop:first-child {
  stop-color: var(--ill-smartphone-screen-gradient-start);
}
#phone-bg-linear-gradient stop:last-child {
  stop-color: var(--ill-smartphone-screen-gradient-end);
}
.smartphone-in-hands {
  stroke: var(--ill-detail-30);
  stroke-width: 4px;
}
.hold-phone-second-hand {
  fill: var(--ill-body-light-skin2);
}
