.star-accent {
  fill: var(--accent-color);
  transition: fill 0.3s ease-in-out;
}
.star-shade {
  fill: hsla(var(--accent-shade) / 0.85);
  transition: fill 0.3s ease-in-out;
}
.star-secondary {
  fill: var(--secondary-color);
  transition: fill 0.3s ease-in-out;
}
.duration-10 {
  animation-duration: 5s;
}
.duration-14 {
  animation-duration: 7s;
}
.duration-18 {
  animation-duration: 9s;
}
.duration-22 {
  animation-duration: 11s;
}
.duration-13 {
  animation-duration: 13s;
}
